

@import url(https://fonts.googleapis.com/css?family=Varela+Round);

body {
  background: hsla(0, 0%, 0%, .9); 
  background-image: url("https://images.unsplash.com/photo-1498736297812-3a08021f206f?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1057&q=80") ;
  background-attachment: fixed;
}

h1 {
  color: hsla(0, 0%, 0%, .9);
  font: normal 120px Varela Round, sans-serif;
  height: 200px;
  left: 0;
  letter-spacing: 70px;
  margin: -80px 0 0 0;
  position: absolute;
  text-align: center;
  text-transform: uppercase;
  top: 50%;
  width: 100%;
  animation: move linear 2000ms infinite;  
  
}

@keyframes move {
  0% {
    text-shadow:
      4px -4px 0 rgb(43, 255, 0)
      3px -3px 0 rgb(43, 255, 0), 
      2px -2px 0 rgb(43, 255, 0), 
      1px -1px 0 rgb(43, 255, 0),
      -4px 4px 0 hsla(180, 100%, 50%, 1), 
      -3px 3px 0 hsla(180, 100%, 50%, 1), 
      -2px 2px 0 hsla(180, 100%, 50%, 1), 
      -1px 1px 0 hsla(180, 100%, 50%, 1)
    ;
  }
  25% {    
    text-shadow:      
      -4px -4px 0 hsla(180, 100%, 50%, 1), 
      -3px -3px 0 hsla(180, 100%, 50%, 1), 
      -2px -2px 0 hsla(180, 100%, 50%, 1), 
      -1px -1px 0 hsla(180, 100%, 50%, 1),
      4px 4px 0 rgb(43, 255, 0), 
      3px 3px 0 rgb(43, 255, 0), 
      2px 2px 0 rgb(43, 255, 0), 
      1px 1px 0 rgb(43, 255, 0)      
    ;
  }
  50% {
    text-shadow:
      -4px 4px 0 rgb(43, 255, 0), 
      -3px 3px 0 rgb(43, 255, 0), 
      -2px 2px 0 rgb(43, 255, 0), 
      -1px 1px 0 rgb(43, 255, 0),
      4px -4px 0 hsla(180, 100%, 50%, 1), 
      3px -3px 0 hsla(180, 100%, 50%, 1), 
      2px -2px 0 hsla(180, 100%, 50%, 1), 
      1px -1px 0 hsla(180, 100%, 50%, 1)
    ;
  }
  75% {
    text-shadow:
      4px 4px 0 hsla(180, 100%, 50%, 1), 
      3px 3px 0 hsla(180, 100%, 50%, 1), 
      2px 2px 0 hsla(180, 100%, 50%, 1), 
      1px 1px 0 hsla(180, 100%, 50%, 1),
      -4px -4px 0 rgb(43, 255, 0), 
      -3px -3px 0 rgb(43, 255, 0), 
      -2px -2px 0 rgb(43, 255, 0), 
      -1px -1px 0 rgb(43, 255, 0)      
    ;
  }
  100% {
    text-shadow:
      4px -4px 0 rgb(43, 255, 0), 
      3px -3px 0 rgb(43, 255, 0), 
      2px -2px 0  rgb(43, 255, 0)
      1px -1px 0  rgb(43, 255, 0),
      -4px 4px 0 hsla(180, 100%, 50%, 1), 
      -3px 3px 0 hsla(180, 100%, 50%, 1), 
      -2px 2px 0 hsla(180, 100%, 50%, 1), 
      -1px 1px 0 hsla(180, 100%, 50%, 1)
    ;
  }  
}

