.dpago{
    color: rgb(6, 255, 6);
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    margin-left: 100px;
    margin-top: 180px;
}
.botonc{
    margin-left: 470px;
    margin-top: 40px;  
}
.pagod{
    color:rgb(6, 255, 6);
    font-size: 40px;
    margin-top: 40px;
    margin-left: 480px;
}
.botonv{
    margin-top: 10px;
    margin-left: 30px;
}