body{
    background-attachment: fixed;
}


.datos{
    color: rgb(21, 255, 0) ;
    font-style: oblique;
    font-weight: bold;
    font-size: 40px;
    margin-left:-100px;
    
}

.dcompras{
    color: cyan;
    font-style: oblique;
    font-weight: bold;
    font-size: 40px;
    margin-top: -106px;
    margin-left: 820px;
    
}
.datos1{
    color: cyan;
    font-style:oblique;
    font-weight: bold;
    font-size: 40px;
    margin-top: 40px;
    margin-left: -20px;  
}
.datos4{
    color: cyan;
    font-style: oblique;
    font-weight: bold;
    font-size: 40px;
    margin-top: -36px;
    margin-left: 120px;
    
}
.datos2{
    color: cyan;
    font-style:oblique;
    font-weight: bold;
    font-size: 30px;
    margin-top: -112px;
    margin-left: 120px;
    
}
.datos3{
    color: cyan;
    font-style:oblique;
    font-weight: bold;
    font-size: 30px;
    margin-top: -12px;
    margin-left: 120px;
    
}
.audifonoscat{
    width: 120px;
    border-color: rgb(21, 255, 0);
   border-style:double;
   border-width: 18px;
   margin-top: -342px;
   margin-left: 840px;
}
.datos5{
    color: cyan;
    font-style:oblique;
    font-weight: bold;
    font-size: 20px;
    margin-left: 990px;  
}
.bttvolver{

}

